*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    font-family: Roboto, sans-serif, arial;
    font-size: 16px;
    color:#242424;
    margin: 0;
    padding: 0;
    height: 100%;
    /*overflow-y: scroll;*/
}

.container{
    width: 1300px;
    margin:0px auto;
}

.main-section{
    width: 100%;
    float: left;
    padding: 70px 0px 70px 0px;
}

.heading{
    font-size: 28px;
    font-weight: 500;
    border-bottom: 2px solid #46b7c1;
    margin-bottom: 20px;
    color: #46b7c1;
}

.header{
    background: #46b7c1;
    padding: 6px;
}

.header b{
    background: #fff;
    color: red;
    padding:10px;
    font-size: 20px;
}

.header marquee{
    font: size 20px;
    color:#fff;
    width:80%;
}

.logo{
    height: 150px;
}

/* ------ nav bar ------- */

nav{
    float: right;
    padding: 25px opx;
}

nav a{
    color:darkblue;
    text-decoration: none;
    font-size: 20px;
    padding: 2px 10px;
    font-weight: 500;
    height: auto;
}

/* ------- Slider image -------- */

.slider image{
    width: 100%; 
    height: 100%;
}
.image{
    width: 100%; 
    height: 100%;
}

/* ---------- About us -----------*/

.main-section p{
    width: 100%;
    float:left;
    font-size: 16px;
}

.main-section b{
    min-width: 115px;
    float: left;
    margin-bottom: 20px;
}

.main-section h2{
    font-size: 23px;
    margin-bottom: 20px;
    text-align: center;
}

.about-us div{
    width: 45%;
    float: left;
    line-height: 30px;
    font-size: 18px;
}

.about-us h4{
    font-size: 22px;
}

.about-us p{
    line-height: 42px;
}
.about-us img{
    width: 40%;
    float:left;
}

.event{
    width: 32%;
    margin-right: 1%;
    float: left;
    background-color: white;
    padding: 10px;
}
.event .heading{
    border-bottom: 2px solid #46b7c1;
    padding: 5px;
    color: #46b7c1;
    background:#46b7c1 ;
    text-align: center;
    -webkit-text-fill-color: #fff;
}

.event li{
    margin-bottom: 30px;
    width: 100%;
    float: left;
    list-style: circle;
}

.abt-scl p{
    width: 100%;
    float: left;
    font-size: 16px;
}
.abt-scl b{
    min-width: 115px;
    float: left;
    margin-bottom: 20px;
}
.abt-scl h3{
    font-size: 23px;
    margin-bottom: 20px;
    text-align: center;
}

.abt-scl h4{
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.Testimonials{
    width: 30.5%;
    float: left;
    margin-right: 2.5%;
}

.Testimonials-text{
    background: #46b7c1;
    padding: 20px;
    line-height: 35px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-align: justify;
}

